SERVER_NAME=Nagel Bedrock
LEVEL_NAME=NagelWorld
LEVEL_SEED=
LEVEL_TYPE=DEFAULT
GAMEMODE=survival
DIFFICULTY=normal
MAX_PLAYERS=10
ONLINE_MODE=true
ALLOW_LIST=false
ALLOW_LIST_USERS=
ALLOW_CHEATS=false
DEFAULT_PLAYER_PERMISSION_LEVEL=member
VIEW_DISTANCE=32
TICK_DISTANCE=4
PLAYER_IDLE_TIMEOUT=30
BEDROCK_PORT=19132
VERSION=LATEST
BACKUP_KEEP_DAYS=14

CRAFT_SERVER_NAME=Nagel Craftlandia
CRAFT_MOTD=Nagel Craftlandia
CRAFT_LEVEL_NAME=CraftlandiaWorld
CRAFT_GAMEMODE=survival
CRAFT_DIFFICULTY=normal
CRAFT_MAX_PLAYERS=20
CRAFT_MEMORY=2G
CRAFT_VIEW_DISTANCE=10
CRAFT_SIMULATION_DISTANCE=6
CRAFT_BEDROCK_PORT=19132
CRAFT_JAVA_PORT=25565
CRAFT_VERSION=LATEST
CRAFT_VERSION_FROM_PLUGINS=true
CRAFT_RCON_PASSWORD=minecraft
CRAFT_BACKUP_KEEP_DAYS=14
CRAFT_ENABLE_WHITELIST=false
CRAFT_ENFORCE_WHITELIST=true
CRAFT_WHITELIST=
CRAFT_CLOUD_REMOTE=
CRAFT_CLOUD_PATH=minecraft-nagel/craftlandia-backups
