ZOMBIE_MEMORY=3G
ZOMBIE_LEVEL_NAME=NagelZombieWorld
ZOMBIE_RCON_PASSWORD=troque-essa-senha
ZOMBIE_OPS=FelipeSNagel
ZOMBIE_ENABLE_WHITELIST=false
ZOMBIE_WHITELIST=FelipeSNagel
ZOMBIE_JAVA_PORT=25566
ZOMBIE_BEDROCK_PORT=19133
ZOMBIE_RESOURCE_PACK_SHA1=bd6c7d754575b98a5f15862d20a78a4959fc0c3c
